<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% load static %} {% include 'session_security/all.html' %}

<head>
    <meta charset="UTF-8">
    <title>RandoIMG | Contact</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:lightyellow;">
    <div class="center">
        <header>
            <nav class="navbar roundborder">
                <h1 class="floatl">Contact</h1>
                <ul class="navlink">
                    {% if user.is_authenticated %}
                    <li class="marginr"><a href="../logout/">Log Out</a></li>
                    {% else %}
                    <li class="marginr"><a href="../login/">Log In / Sign Up</a></li>
                    {% endif %}
                    <li><a href="../">RandoIMG</a></li>
                    <li><a href="../about/">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Contact me through the form below (maybe even tell me why you uploaded such an image)</p>
            <p>(There <i>might</i> not be a form yet as this is a work-in-progress)</p>
        </main>
        <footer>
        </footer>
    </div>
    <script>
        //let inactive = parseInt("{{inactive}}"); //Used to check if logged out for inactivity
    </script>
</body>

</html>