<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>RandoIMG | Contact</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:lightyellow;">
    <div class="center">
        <header>
            <nav class="navbar roundborder">
                <h1 class="floatl">Contact</h1>
                <ul class="navlink">
                    <li class="marginr"><a href="../">RandoIMG</a></li>
                    <li class=""><a href="../about/">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Contact me through the form below (maybe even tell me why you uploaded such an image)</p>
            <p>(There <i>might</i> not be a form yet as this is a work-in-progress)</p>
        </main>
        <footer>
        </footer>
    </div>
</body>

</html>